* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}


.visual_main {

  .swiper {
    width: 100%;
    height: 100vh;


    .swiper_text {
      position: absolute;
      left: 220px;
      bottom: 90px;
      color: white;

      h1 {
        display: block;
        font-size: 50px;
        margin-bottom: 20px;

      }

      p {
        width: 150px;
        height: 50px;
        border-radius: 30px;
        border: solid 1px white;
        font-size: 16px;
        transition: 0.3s;
        text-align: center;
        line-height: 48px;
        backdrop-filter: blur(5px);
      }

      p:hover {
        background-color: white;
        color: black;
      }

    }

    .swiper_text2 {
      position: absolute;
      left: 220px;
      bottom: 90px;
      color: black;

      h1 {
        display: block;
        font-size: 50px;
        margin-bottom: 20px;

      }

      p {
        width: 150px;
        height: 50px;
        border-radius: 30px;
        border: solid 1px black;
        font-size: 16px;
        transition: 0.3s;
        text-align: center;
        line-height: 48px;
        backdrop-filter: blur(5px);
      }

      p:hover {
        background-color: black;
        color: white;
      }
    }

    .swiper-scrollbar {
      margin-bottom: 40px;
      width: 500px;
      height: 15px;
      margin-left: 200px;
      background-color: rgba(255, 255, 255, 0.295);
    }

    .swiper-scrollbar-drag {
      background-color: white;
    }

    .swiper-button-prev {
      position: absolute;
  top: 94%;
  left: 740px;
      color: #002053;
    }

    .swiper-button-next {
      position: absolute;
  top: 94%;
  left: 790px;
      color: #002053;
    }
  }
}

/* visual_main  */



.blur_filter {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  z-index: 5;
  display: none;
}

header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  transition: 0.5s;

  .header_main {
    width: 1680px;
    margin: 0 auto;
    display: flex;


    .logo {
      display: flex;
      width: 15%;
      height: 100px;
      justify-content: center;
      align-items: center;

      img {
        width: 100px;
        height: 33px;
      }
    }

    /* logo */

    .lnb {
      width: 40%;
      margin: 0 15%;
      cursor: pointer;
      position: relative;

      .lnb_list {
        ul {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          font-size: 18px;
          height: 100px;
        }

        li {
          height: 100px;
          line-height: 100px;
          width: 100px;
          text-align: center;
          color: white;
          font-size: 18px;
        }
      }

    }

    .gnb {
      width: 15%;
      display: flex;
      justify-content: space-evenly;
      height: 100px;
      align-items: center;
      cursor: pointer;

    }

  }
}

.lnb_menu1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  transition: 0.3s;
  height: 580px;
  background-color: white;

  .header_main {
    .lnb {
      .lnb_list {
        ul {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          font-size: 18px;
          height: 100px;
        }

        li {
          height: 100px;
          line-height: 100px;
          text-align: center;
          color: black;
          font-size: 18px;
        }

        .women {
          text-decoration: underline;
          text-underline-offset: 13px;
        }

      }
    }
  }

  .lnb_menu_women {
    padding-top: 20px;
    position: absolute;
    display: flex;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 1680px;
    margin: 0 auto;

    .menu_left {
      position: relative;
      display: block;
      width: 370px;
      text-align: center;

      h3 {
        margin-bottom: 20px;
        font-size: 18px;

      }

      ul {
        li {
          padding-bottom: 12px;
        }

        .sail {
          margin-bottom: 20px;
        }
      }


    }

    .menu_left li:hover {
      color: red;
    }

    .menu_left::after {
      content: '';
      display: block;
      position: absolute;
      top: 0px;
      left: 370px;
      width: 1px;
      height: 375px;
      background-color: #e8e8e8;
      z-index: 80;
    }


    .menu_center {
      width: 940px;
      display: flex;
      justify-content: space-evenly;


      .clothes {
        margin-right: 10px;

        h3 {
          margin-bottom: 20px;
          font-size: 18px;
        }

        ul {
          li {
            padding-bottom: 12px;
          }
        }
      }

      .shoes {
        margin-right: 10px;

        h3 {
          margin-bottom: 20px;
          font-size: 18px;
        }

        ul {
          li {
            padding-bottom: 12px;
          }
        }
      }

      .articles {
        margin-right: 10px;

        h3 {
          margin-bottom: 20px;
          font-size: 18px;
        }

        ul {
          li {
            padding-bottom: 12px;
          }
        }
      }

      .underwear {
        h3 {
          margin-bottom: 20px;
          font-size: 18px;
        }

        ul {
          li {
            padding-bottom: 12px;
          }
        }
      }


    }
  }

  .menu_center li:hover {
    color: red;
  }

  .menu_right {
    width: 330px;
    text-align: center;

    h3 {
      margin-bottom: 20px;
      font-size: 18px;

    }

    ul {
      li {
        padding-bottom: 12px;
      }
    }
  }




  .menu_right li:hover {
    color: red;
  }

  .menu_right::after {
    content: '';
    display: block;
    position: absolute;
    top: 20px;
    right: 350px;
    width: 1px;
    height: 375px;
    background-color: #e8e8e8;
    z-index: 80;
  }

}

.lnb_menu2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  transition: 0.3s;
  height: 580px;
  background-color: white;

  .header_main {
    .lnb {
      .lnb_list {
        ul {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          font-size: 18px;
          height: 100px;
        }

        li {
          height: 100px;
          line-height: 100px;
          text-align: center;
          color: black;
          font-size: 18px;
        }

        .man {
          text-decoration: underline;
          text-underline-offset: 13px;
        }
      }
    }
  }

  .lnb_menu_man {
    padding-top: 20px;
    position: absolute;
    display: flex;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 1680px;
    margin: 0 auto;

    .menu_left {
      position: relative;
      display: block;
      width: 370px;
      text-align: center;

      h3 {
        margin-bottom: 20px;
        font-size: 18px;

      }

      ul {
        li {
          padding-bottom: 12px;
        }

        .sail {
          margin-bottom: 20px;
        }
      }


    }

    .menu_left li:hover {
      color: red;
    }

    .menu_left::after {
      content: '';
      display: block;
      position: absolute;
      top: 0px;
      left: 370px;
      width: 1px;
      height: 375px;
      background-color: #e8e8e8;
      z-index: 80;
    }


    .menu_center {
      width: 934px;
      display: flex;
      justify-content: space-evenly;


      .clothes {
        margin-right: 10px;

        h3 {
          margin-bottom: 20px;
          font-size: 18px;
        }

        ul {
          li {
            padding-bottom: 12px;
          }
        }
      }

      .shoes {
        margin-right: 10px;

        h3 {
          margin-bottom: 20px;
          font-size: 18px;
        }

        ul {
          li {
            padding-bottom: 12px;
          }
        }
      }

      .articles {
        margin-right: 10px;

        h3 {
          margin-bottom: 20px;
          font-size: 18px;
        }

        ul {
          li {
            padding-bottom: 12px;
          }
        }
      }

      .underwear {
        h3 {
          margin-bottom: 20px;
          font-size: 18px;
        }

        ul {
          li {
            padding-bottom: 12px;
          }
        }
      }


    }
  }

  .menu_center li:hover {
    color: red;
  }

  .menu_right {
    width: 342px;
    text-align: center;

    h3 {
      margin-bottom: 20px;
      font-size: 18px;

    }

    ul {
      li {
        padding-bottom: 12px;
      }
    }
  }




  .menu_right li:hover {
    color: red;
  }

  .menu_right::after {
    content: '';
    display: block;
    position: absolute;
    top: 20px;
    right: 350px;
    width: 1px;
    height: 375px;
    background-color: #e8e8e8;
    z-index: 80;
  }

}

.lnb_menu3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  transition: 0.3s;
  height: 580px;
  background-color: white;

  .header_main {
    .lnb {
      .lnb_list {
        ul {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          font-size: 18px;
          height: 100px;
        }

        li {
          height: 100px;
          line-height: 100px;
          text-align: center;
          color: black;
          font-size: 18px;
        }

        .kids {
          text-decoration: underline;
          text-underline-offset: 13px;
        }
      }
    }
  }

  .lnb_menu_kids {
    padding-top: 20px;
    position: absolute;
    display: flex;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 1680px;
    margin: 0 auto;

    .menu_left {
      position: relative;
      display: block;
      width: 370px;
      text-align: center;

      h3 {
        margin-bottom: 20px;
        font-size: 18px;

      }

      ul {
        li {
          padding-bottom: 12px;
        }

        .sail {
          margin-bottom: 20px;
        }
      }


    }

    .menu_left li:hover {
      color: red;
    }

    .menu_left::after {
      content: '';
      display: block;
      position: absolute;
      top: 0px;
      left: 370px;
      width: 1px;
      height: 375px;
      background-color: #e8e8e8;
      z-index: 80;
    }


    .menu_center {
      width: 1000px;
      display: flex;
      justify-content: space-evenly;


      .clothes {
        margin-right: 10px;

        h3 {
          margin-bottom: 20px;
          font-size: 18px;
        }

        ul {
          li {
            padding-bottom: 12px;
          }
        }
      }

      .shoes {
        margin-right: 10px;

        h3 {
          margin-bottom: 20px;
          font-size: 18px;
        }

        ul {
          li {
            padding-bottom: 12px;
          }
        }
      }

      .articles {
        margin-right: 10px;

        h3 {
          margin-bottom: 20px;
          font-size: 18px;
        }

        ul {
          li {
            padding-bottom: 12px;
          }
        }
      }

    }
  }

  .menu_center li:hover {
    color: red;
  }

}


.lnb_menu4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  transition: 0.3s;
  height: 580px;
  background-color: white;


  .header_main {
    .lnb {
      .lnb_list {
        ul {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          font-size: 18px;
          height: 100px;
        }

        li {
          height: 100px;
          line-height: 100px;
          text-align: center;
          color: black;
          font-size: 18px;
        }

        .brand {
          text-decoration: underline;
          text-underline-offset: 13px;
        }
      }
    }
  }

  .lnb_menu_Brand {
    padding-top: 20px;
    overflow: hidden;
    width: 1680px;
    margin: 0 auto;


    .brand_img {
      display: flex;

      .brandImgBox {
        width: 320px;
        height: 390px;
        overflow: hidden;
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }

        img {
          width: 100%;
          height: auto;
          display: block;
          transition: 0.5s;

        }

        img:hover {
          transform: scale(1.1);
        }

      }

    }

  }


  .brandImgText {
    width: 100%;
    display: flex;

    h3 {
      margin-top: 20px;
      width: 335px;
      text-align: center;
      font-size: 18px;
    }
  }


}

.fixed {
  position: fixed;
}

main {
  padding-top: 50px;
  height: 900px;
  width: 1680px;
  margin: 0 auto;

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .tab_menu {
    /*     position: absolute; */
    position: relative;

    .list {

      display: flex;
      justify-content: center;

      .is_on {

        a {
          color: #002053;
          margin-top: -3px;

          p {
            font-size: 20px;
            font-weight: bold;
          }
        }

        .cont {
          /*  display: block; 디스플레이 블럭 논을 쓰면 랭킹 오류생김*/
          opacity: 1;
        }

      }

      li {
        margin-right: 20px;


        a {
          color: black;
          display: block;

          p {}
        }

        .cont {
          /* display: none; */
          opacity: 0;
          position: absolute;
          top: 20px;
          left: 0;
          margin-top: 30px;
          width: 1680px;
          height: 700px;
          /* background-color: #eee; */

          .rank_swiper_all {
            margin: 0 auto;
            width: 1680px;
            height: 650px;
            /* background-color: wheat; */
            padding-top: 20px;
            position: relative;

            h3 {
              position: absolute;
              display: block;
              font-size: 35px;
              top: 50px;
              left: 90px;
              color: #002053;
            }

            .swiper-wrapper {
              margin: 150px auto;
              margin-left: 200px;

              div {
                position: relative;

                img {
                  width: 250px;
                  height: 333px;
                }

              }

              .shopping_box {
                position: absolute;
                left: 0;
                bottom: 0px;
                width: 250px;
                height: 50px;
                background: rgba(0, 0, 0, 0.377);
                line-height: 40px;
                transition: 0.3s;
              }



              .shopName {
                margin-top: -5px;
                margin-left: 10px;
                font-size: 9px;
                color: white;
              }

              .shopPrice {
                font-size: 9px;
                color: white;
                margin-top: -20px;
                margin-left: 10px;
              }

              .fa-heart {
                position: absolute;
                right: 40px;
                bottom: 11px;
                font-size: 17px;
                transition: 0.5s;
                color: darkgray;
              }

              .fa-shopping-bag {
                position: absolute;
                right: 13px;
                bottom: 12px;
                font-size: 17px;
                transition: 0.5s;
                color: darkgray;
              }

              .fa-heart:hover {
                color: #002053;

              }

              .fa-shopping-bag:hover {
                color: #002053;
              }
            }

            .swiper-pagination {
              position: absolute;
              text-align: left;
              top: 54%;
              left: 0px;
              bottom: auto;
              width: 460px;
              height: 500px;
              /* border: 1px solid black; */
              transform: translateY(-50%);
              padding-left: 80px;
              padding-top: 30px;
              box-sizing: border-box;
              background-color: white;
            }

            .swiper-slide {
              transition: 0.3s;
            }

            .swiper-slide-active {
              scale: 1.8;
              z-index: 5;
              padding-top: 95px;

              .shopping_box {
                bottom: 317px;
              }

            }

            .swiper-slide-next {
              filter: blur(2px);
              transform: translate3d(-260px, 0, 0);

            }

            .swiper-slide-prev {
              filter: blur(2px);
              transform: translate3d(30px, 0, 0);
              margin-left: 300px;
            }

            .swiper-pagination-bullet {
              position: relative;
              width: 100%;
              height: 8px;
              display: inline-block;
              background: transparent;
              margin-bottom: 50px;
              opacity: 1;
              color: #888;
              font-size: 14px;
            }

            .swiper-pagination-bullet::after {
              position: absolute;
              content: '';
              display: block;
              width: 95%;
              height: 1px;
              background-color: #888;
              bottom: -20px;
            }

            .swiper-pagination-bullet-active {
              color: #002053;
              font-size: 20px;
              font-weight: bold;
            }

          }

        }


      }



    }


  }

}

.imgfixedscroll {
  width: 100%;
  height: 80vh;
  background: url(./img/이미지픽스/ban01.jpg.png)no-repeat;
  background-attachment: fixed;

}


.main2 {
  .tab_menu2 {
    /*     position: absolute; */
    position: relative;

    .list {

      display: flex;
      justify-content: center;

      .is_on {

        a {
          color: white;

          p {
            background-color: #002053;
          }
        }

        .cont {
          /*  display: block; 디스플레이 블럭 논을 쓰면 랭킹 오류생김*/
          opacity: 1;
        }



      }

      li {
        margin-right: 10px;


        a {
          color: black;

          p {
            width: 200px;
            height: 50px;
            border: 1px solid black;
            box-sizing: border-box;
            margin-right: 5px;
            text-align: center;
            line-height: 50px;
          }
        }

        .cont {
          /* display: none; */
          opacity: 0;
          position: absolute;
          /* top: 20px; */
          left: 0;
          margin-top: 30px;
          width: 1680px;
          height: 660px;
          background-color: #eee;

        }

        .arrival_swiper_all {


          .swiper-wrapper {
            margin: 0 auto;
            /*   margin-left: 200px; */

            div {
              /*   position: relative; */

              img {
                width: 300px;
                height: 400px;
              }

            }

            .swiper-slide {
              transition: 0.3s;
              /*  width: 1000px; */
              height: 550px;
              padding-top: 100px;
              position: relative;
            }

            .swiper-slide-active {
              scale: 1.4;
              z-index: 5;
              margin-top: 40px;
              padding-right: 200px;

              .arrival_box {
                top: 130px;
              }
            }

            .arrival_box {
              position: absolute;
              top: -500px;
              right: 90px;
              width: 340px;

              h3 {
                font-size: 16px;
                margin-bottom: 30px;
              }

              p {
                font-size: 12px;
                height: 70px;
              }


              .sold {
                .money {
                  margin-top: 150px;
                  font-size: 15px;
                  text-align: left;
                  margin-left: 5px;
                }

                p {
                  width: 150px;
                  height: 40px;
                  border: 1px solid black;
                  box-sizing: border-box;
                  margin-top: 15px;
                  border-radius: 20px;
                  transition: 0.3s;
                  line-height: 38px;
                  font-size: 15px;
                  text-align: center;
                }

                p:hover {
                  background-color: #002053;
                  color: white;
                }

              }

              .fas {
                position: absolute;
                font-size: 25px;
              }

              .fa-heart {
                right: 150px;
                bottom: 10px;

              }

              .fa-shopping-bag {
                right: 110px;
                bottom: 10px;
              }

              .fas:hover {
                color: #002053;
              }
            }

          }


        }

        .swiper-slide-next {
          /*  filter: blur(2px); */
          transform: translate3d(20px, 0, 0);

        }

        .swiper-slide-prev {
          /*  filter: blur(2px); */
          transform: translate3d(20px, 0, 0);
        }

        .swiper-button-prev {
          top: 300px;
          left: 290px;
        }

        .swiper-button-next {
          top: 300px;
          right: 290px;

        }


        .swiper-button-prev::after {
          content: "\f0d9";
          display: block;
          font-family: "Font Awesome 5 FREE";
          font-weight: 900;
          font-size: 90px;
          color: #002053;
        }


        .swiper-button-next::after {
          content: "\f0da";
          display: block;
          font-family: "Font Awesome 5 FREE";
          font-weight: 900;
          font-size: 90px;
          color: #002053;
        }

        /*       .swiper-pagination-bullet-active{
          background-color: #002053;
        } */


      }


    }



  }


}

.show {
  overflow: hidden;
  width: 1680px;
  margin: 0 auto;
  height: 900px;

  h2 {
    text-align: center;
    margin-bottom: 30px;
  }

  .show_box {
    float: left;
    width: 550px;
    margin-right: 15px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    opacity: 0;
    transition: 0.3s;
  }

  img {
    width: 100%;
    height: auto;

  }

  .show_box:hover .hidden {
    top: 0px;
  }

  .show_box:last-child {
    margin-right: 0;
  }

  h3 {
    text-align: center;
    margin-top: 15px;
  }

  p {
    margin-top: 10px;
    text-align: center;
    color: #888;

  }

  .hidden {
    position: absolute;
    top: -550px;
    left: 0;
    width: 550px;
    height: 550px;
    background-color: rgba(0, 0, 0, 0.404);
    transition: 0.3s;


    h2 {
      margin-top: 80px;
      color: white;
    }


    p {
      margin-top: 80px;
      color: white;
      line-height: 40px;
    }
  }

  .show_btn {
    width: 210px;
    height: 55px;
    border-radius: 30px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 35px;
    transition: 0.3s;
    box-sizing: border-box;


    p {
      line-height: 30px;
      color: black;
      font-size: 18px;
    }
  }

  .show_btn:hover {
    background-color: #002053;

    p {
      color: white;
    }
  }
}


.stylist {
  overflow: hidden;
  width: 1680px;
  margin: 0 auto;
  height: 950px;

  h2 {
    text-align: center;
    margin-bottom: 30px;
  }

  .style {
    float: left;
    width: 550px;
    margin-right: 15px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: 0.3s;


    img {
      width: 100%;
      height: auto;
    }


    .point_box {
      top: 0;
      left: 0;
      position: absolute;

      .point {
        position: absolute;
        width: 30px;
        height: 30px;
        background-color: #e8e8e8;
        border-radius: 50px;

        .fas {
          position: absolute;
          top: 2px;
          left: 4px;
          font-size: 25px;
        }


        .point_menu {
          position: absolute;
          width: 280px;
          height: 120px;
          background-color: #b1b1b1;
          border-radius: 10px;
          transition: 0.3s;

          img {
            width: 90px;
            height: 120px;
          }

          p {
            top: 20px;
            left: 98px;
            line-height: 25px;
            position: absolute;
            transition: 0.3s;
            color: white;
          }

          .point_data {
            position: absolute;
            bottom: 10px;
            right: 7px;
            width: 90px;
            height: 25px;
            background-color: white;
            border-radius: 30px;
            text-align: center;
            line-height: 25px;
            font-size: 14px;
            transition: 0.3s
          }

          .point_data:hover {
            background-color: #002053;
            color: white;
          }
        }
      }

      .point_menu1 {
        top: -80px;
        left: -100px;
        opacity: 0;
      }

      .point_menu2 {
        top: -30px;
        left: -125px;
        opacity: 0;
      }

      .point_menu3 {
        top: -15px;
        left: -85px;
        opacity: 0;
      }

      .point_menu4 {
        top: -57px;
        left: -120px;
        opacity: 0;
      }

      .point1 {
        top: 260px;
        left: 300px;
      }

      .point2 {
        top: 370px;
        left: 240px;
      }

      .point3 {
        top: 490px;
        left: 240px;
      }

      .point4 {
        top: 663px;
        left: 358px;
      }


      .point2_1 {
        top: 210px;
        left: 220px;
      }

      .point2_2 {
        top: 305px;
        left: 290px;
      }

      .point2_3 {
        top: 645px;
        left: 215px;
      }

      .point_menu2_1 {
        top: -35px;
        left: -120px;
        opacity: 0;
      }

      .point_menu2_2 {
        top: 0px;
        left: -60px;
        opacity: 0;
      }

      .point_menu2_3 {
        top: -70px;
        left: -60px;
        opacity: 0;
      }



      .point3_1 {
        top: 635px;
        left: 128px;
      }

      .point3_2 {
        top: 323px;
        left: 263px;
      }

      .point_menu3_1 {
        top: -50px;
        left: -50px;
        opacity: 0;
      }

      .point_menu3_2 {
        top: -24px;
        left: -57px;
        opacity: 0;
      }




    }


  }

  .style:last-child {
    margin-right: 0;
  }


}

.sns {
  overflow: hidden;
  width: 1680px;
  margin: 0 auto;
  height: 800px;

  h2 {
    text-align: center;
    margin-bottom: 30px;
  }

  .sns_box {
    float: left;
    width: 328px;
    height: 328px;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      transition: 0.3s;
    }


    img:hover {
      transform: scale(1.1);
    }
  }

  .sns_box:nth-child(5),
  .sns_box:nth-child(10) {
    margin-right: 0;
  }
}


.footer {
  width: 100%;
  height: 430px;
  background-color: #f0f0f0;
  margin-top: 30px;

  .footer_up {
    padding-top: 50px;
    width: 1680px;
    margin: 0 auto;
    overflow: hidden;

    .logo {
      margin-left: 50px;
      float: left;
      width: 200px;
    }

    .left {
      float: left;
      width: 880px;

      ul {
        overflow: hidden;
        margin-bottom: 50px;

        li {
          float: left;
          /* position: relative; */
          cursor: pointer;
          font-size: 14px;
        }

        .li_line{
          float: left;
          width: 1px;
          height: 20px;
          background-color: black;
          margin-right: 10px;
          margin-left: 10px;
        }
      }

      .p1 {
        margin-bottom: 20px;
        font-size: 14px;
        color: #a0a0a0;
      }

      .p2 {
        font-size: 14px;
        color: #a0a0a0;
      }
    }


    .right {
      float: left;

      .cs_center {
        width: 150px;
        height: 40px;
        border: 1px solid black;
        border-radius: 15px;
        text-align: center;
        line-height: 40px;
        margin-bottom: 20px;
        transition: 0.3s;
        font-weight: bold;
        font-size: 14px;
        cursor: pointer;
      }

      .cs_center:hover {
        background-color: #002053;
        color: white;
      }

      p {
        margin-top: 15px;
        font-size: 14px;
        color: #a0a0a0;
      }
    }

  }

  .footer_middle {
    width: 1680px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 30px;


    .ico {
      float: left;
      margin-left: 1130px;
      width: 200px;
      height: 22px;

      img {
        height: 22px;
        margin-right: 12px;
      }
    }

  }

  .footer_under {
    width: 1680px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 50px;

    .left {
      float: left;
      margin-left: 250px;
      width: 880px;

      ul {
        overflow: hidden;

        li {
          font-size: 14px;
          float: left;
          margin-right: 20px;
          position: relative;
          cursor: pointer;
        }

        .li::before {
          content: '';
          display: block;
          width: 1px;
          height: 20px;
          background-color: black;
          position: absolute;
          top: 1px;
          left: -10px;
        }
      }
    }


    .right {
      float: left;


      p {
        margin-right: 15px;
        float: left;
        font-size: 14px;
      }

      #link {
        float: left;
        border: none;
        background-color: #f0f0f0;
        box-sizing: border-box;
        height: 18px;
        cursor: pointer;
        font-weight: bold;
      }
    }
  }

}

.wing_banner {
  width: 80px;
  height: 300px;
  position: fixed;
  top: 50%;
  right: -49px;
  transform: translateY(-50%);
  border: 1px solid #888;
  box-sizing: border-box;
  z-index: 9999;
  background-color: white;
  border-radius: 10px;
  transition: 0.3s;
  display: flex;


  .wing_left{
    width: 30px;
    height: 50px;

    .fa-angle-double-left{
      font-size: 30px;
      margin-top: 20px;
    }

    p{
      text-align: center;
      margin-top: 15px;
      line-height: 25px;
    }
  }

  .wing_right{
      width: 50px;
      border-left: 1px solid #888;
    div {
      width: 49px;
      height: 50px;
      border-bottom: 1px solid #888;
      box-sizing: border-box;
      position: relative;
  
  
      img {
        width: 50px;
        height: 50px;
      }
  
  
      .fas {
        
        position: absolute;
        cursor: pointer;
        transition: 0.3s;
        color: #888;
      }
  
      .fa-home{
        font-size:38px;
        top: 7px;
        left: 3px;
        
      }

      .fa-store{
        font-size: 32px;
        top: 10px;
        left: 5px;
      }

      .fa-shopping-basket{
        font-size: 35px;
        top: 7px;
        left: 5px;
      }

      .fa-user{
        font-size: 40px;
        top: 5px;
        left: 7px;
        
      }

      .fa-caret-up {
        font-size: 60px;
        top: -9px;
        left: 5px;

      }
  
      .fa-caret-down {
        font-size: 60px;
        top: -7px;
        left: 5px;
     
      }
    }
    
    .down {
      border: none;
    }
  
  .fas:hover{
    color: red;
  }
  }

}
